<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="FacturacionModelContainer" connectionString="metadata=&quot;res://*/FacturacionModel.csdl|          res://*/FacturacionModel.ssdl|          res://*/FacturacionModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-ALJK62P\SQLEXPRESS;          Initial Catalog=Facturacion_Gimnasio_Juan;          user id=sa;          Password=Whatsername;          MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Facturacion_Gimnasio_JuanEntities" connectionString="metadata=res://*/Diagram.FacturacionModelcontainer.csdl|res://*/Diagram.FacturacionModelcontainer.ssdl|res://*/Diagram.FacturacionModelcontainer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ALJK62P\SQLEXPRESS;initial catalog=Facturacion_Gimnasio_Juan;persist security info=True;user id=sa;password=Whatsername;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>